@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Butcherman&family=Edu+QLD+Beginner:wght@400;600&family=Kanit:wght@200&family=Rubik+Moonrocks&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #065F46;
  
}

a {
  text-decoration: none;
}

:root {
  --primary-color:#F5D0FE;
  --text-color:#F43F5E;
}

body {
  font-family: 'Kanit', sans-serif;
  min-width: 100vw;
  border: 2px solid  #F5D0FE;
  
}

.container {
  margin: 4rem 6rem 7rem;
  text-align: center;
  border: 4px solid #F5D0FE;
  border-radius: 2rem;
  padding: 40px;
  
}

.heading {
  color: var(--primary-color);
  border: 4px solid;
  border-radius: 2rem; 
}

.description {
  font-size: larger;
  margin: 1rem;
  font-weight: bolder;
  color: #F5D0FE;

}

.input-label {
  display: block;
  font-size: large;
  font-weight: 900;
  color: #F5D0FE;
  text-decoration: underline;
  
  
}

.input {
  font-size: 14px;
  outline: #fff;
  padding: 0.6rem 1rem;
  margin: 1rem;
  border: 3px solid var(--primary-color);
  border-radius: 0.5rem;
  width: 100%;
  max-width: 258px;
  color: white;
}

#check-button {
  background: var(--primary-color);
  border: none;
  color: #065F46;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-size: large;
  cursor: pointer;
  outline: #fff;
  margin: auto;
  display: block;
}

#error-message {
  display: block;
  font-size: larger;
  margin: 1rem 0 0;
}

/* Table */
.table {
  width: 50%;
  text-align: justify;
  border-collapse: collapse;
  margin: auto;
  padding: 20px;
}

.change-table caption {
  margin: 1rem auto;
  font-size: x-large;
  font-weight: 500;
  color: #F5D0FE;
}

th,
td {
  border: 2px solid var(--primary-color);
  width: 0%;
  border-collapse: collapse;
  padding: 0.4rem;
  color: #F5D0FE;
}

.class{
  color: #F5D0FE;
}

#error-message{
  color:#F5D0FE;
}